<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lii.cloud.db.mysql.mapper.imapper.admin.UserMapper">
  <resultMap id="BaseResultMap" type="com.lii.cloud.common.entity.admin.po.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="gender" jdbcType="CHAR" property="gender" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="isleader" jdbcType="CHAR" property="isleader" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="english_name" jdbcType="VARCHAR" property="englishName" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="qr_code" jdbcType="VARCHAR" property="qrCode" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
</mapper>